
# Group project


###### Group members: 

- Fajartri Anggoro
- Mohammad Hadi Alipour Motlagh
- Jeanne Harling


### Importing libraries and data

In [3]:
# Import libraries
library(data.table)  # Data manipulate
library(mlr)         # ML toolkit
library(caret)       # ML toolkit
library(ggplot2)     # Visualization
library(plotrix)     # Draw circle
library(rgl)         # 3D plots
library(tidyverse)
library(tracerer)
library(ggplot2)
library(corrplot)
library(DataExplorer)
library(randomForest)
library(tree)
library(e1071)  
library(MASS)
library(ROCR)
library(Hmisc)
library(correlation)

ERROR: Error in library(tracerer): there is no package called 'tracerer'

In [2]:
install.packages('tracer')

also installing the dependencies 'clisymbols', 'prettycode'

package 'clisymbols' successfully unpacked and MD5 sums checked
package 'prettycode' successfully unpacked and MD5 sums checked
package 'tracer' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\malipourmotlagh1\AppData\Local\Temp\RtmpuIaJjm\downloaded_packages

In [4]:
# Importing datasets

train <- read.csv("./Data/bank_mkt_train.csv")
test <- read.csv("./Data/bank_mkt_test.csv")

In [5]:
# Checking how the table looks like 
# We have 20k rows and 21  variables
train

      client_id age job           marital  education           default housing
1     29925     42  management    married  basic.9y            no      no
2     37529     35  unemployed    married  university.degree   no      yes
3      2757     44  technician    married  basic.9y            no      yes
4      9642     45  services      married  high.school         no      yes
5     14183     45  unknown       married  unknown             unknown unknown
6     15180     38  technician    married  professional.course no      no
7     27168     33  technician    married  professional.course no      no
8      9097     38  blue-collar   single   basic.9y            unknown yes
9     30538     29  blue-collar   single   unknown             no      yes
10    28981     34  admin.        divorced university.degree   no      yes
11     7989     47  blue-collar   married  high.school         unknown yes
12    13536     30  blue-collar   single   basic.9y            no      yes
13    24541     30  admin.        married  basic.6y            no      yes
14     6216     35  services      married  basic.6y            unknown yes
15    17983     45  management    married  professional.course no      no
16    29394     37  entrepreneur  married  university.degree   unknown yes
17    28825     48  blue-collar   married  basic.6y            no      no
18       41     47  admin.        married  basic.6y            unknown yes
19     7284     35  blue-collar   married  basic.9y            no      yes
20    28502     34  technician    married  professional.course no      no
21    11473     60  technician    married  university.degree   unknown yes
22     6134     35  services      single   high.school         no      no
23    33523     32  technician    married  university.degree   no      yes
24    21812     49  blue-collar   married  unknown             unknown yes
25    39895     45  technician    single   professional.course no      no
26     9326     33  blue-collar   single   basic.9y            unknown yes
27    26510     34  management    single   university.degree   no      unknown
28    20960     57  retired       married  university.degree   no      yes
29    14403     50  technician    single   professional.course no      no
30    28799     49  housemaid     married  university.degree   no      yes
<U+22EE>     <U+22EE>  <U+22EE> <U+22EE>      <U+22EE> <U+22EE>            <U+22EE> <U+22EE>
19971  3036     33  self-employed married  university.degree   no      no
19972 19102     31  admin.        single   university.degree   unknown yes
19973 37729     46  technician    married  professional.course no      no
19974 20186     50  self-employed married  unknown             no      unknown
19975 38059     43  admin.        divorced university.degree   unknown no
19976  8099     32  technician    divorced professional.course no      no
19977 15178     37  housemaid     married  basic.4y            unknown no
19978 18920     47  technician    divorced high.school         no      yes
19979 19757     31  admin.        single   university.degree   no      yes
19980  9327     31  admin.        single   university.degree   unknown no
19981 16641     51  technician    married  professional.course no      yes
19982  9656     30  admin.        married  university.degree   no      yes
19983 37330     42  technician    married  professional.course unknown yes
19984 34568     32  blue-collar   married  basic.6y            no      yes
19985 23095     41  blue-collar   married  basic.6y            no      yes
19986 25383     48  admin.        divorced high.school         no      no
19987 16918     31  admin.        NA       university.degree   no      yes
19988  4245     35  blue-collar   single   unknown             no      yes
19989 21920     39  blue-collar   married  basic.4y            unknown yes
19990 29000     21  student       single   high.school         no      no
19991  6627     28  admin.        single   university.degree   no      yes
19992 35702     29  admin.        single   university.degree   no      yes
19993 38555     49  services      married  basic.4y            unknown no
19994 23289     38  blue-collar   divorced high.school         no      yes
19995  2969     36  blue-collar   single   high.school         no      yes
19996 13724     45  unknown       unknown  unknown             no      yes
19997 29863     26  admin.        single   university.degree   no      yes
19998  9841     33  admin.        married  high.school         no      yes
19999 36432     43  admin.        married  high.school         no      yes
20000 15639     55  blue-collar   married  basic.9y            no      yes
      loan    contact   month <U+22EF>        campaign pdays previous poutcome
1     no      cellular  jul   <U+22EF> 1        999   0        nonexistent
2     no      telephone jun   <U+22EF> 4        999   0        nonexistent
3     yes     cellular  may   <U+22EF> 1        999   0        nonexistent
4     no      cellular  apr   <U+22EF> 1        999   0        nonexistent
5     unknown telephone may   <U+22EF> 1        999   0        nonexistent
6     no      telephone may   <U+22EF> 2        999   0        nonexistent
7     yes     cellular  apr   <U+22EF> 1         NA   1        failure
8     no      telephone may   <U+22EF> 1        999   0        nonexistent
9     no      cellular  may   <U+22EF> 1        999   1        failure
10    yes     cellular  aug   <U+22EF> 1        999   0        nonexistent
11    no      telephone jun   <U+22EF> 3        999   0        nonexistent
12    no      cellular  jul   <U+22EF> 1        999   0        nonexistent
13    no      cellular  jul   <U+22EF> 1        999   0        nonexistent
14    no      cellular  may   <U+22EF> 2        999   0        nonexistent
15    no      cellular  nov   <U+22EF> 1        999   0        nonexistent
16    no      cellular  nov   <U+22EF> 2        999   1        failure
17    no      telephone jun   <U+22EF> 2        999   0        nonexistent
18    no      cellular  apr   <U+22EF> 2        999   1        failure
19    no      telephone may   <U+22EF> 1        999   0        nonexistent
20    no      cellular  apr   <U+22EF> 3        999   0        nonexistent
21    no      telephone may   <U+22EF> 5        999   0        nonexistent
22    no      cellular  may   <U+22EF> 2        999   1        failure
23    no      cellular  may   <U+22EF> 1        999   0        nonexistent
24    no      telephone may   <U+22EF> 1        999   0        nonexistent
25    no      telephone may   <U+22EF> 2        999   0        nonexistent
26    no      telephone jun   <U+22EF> 4        999   0        nonexistent
27    unknown telephone nov   <U+22EF> 5        999   0        nonexistent
28    no      telephone may   <U+22EF> 1        999   0        nonexistent
29    yes     cellular  jul   <U+22EF> 8        999   0        nonexistent
30    no      cellular  aug   <U+22EF> 2        999   0        nonexistent
<U+22EE>     <U+22EE> <U+22EE>  <U+22EE> <U+22F1> <U+22EE> <U+22EE> <U+22EE> <U+22EE>
19971 no      cellular  aug   <U+22EF>  3       999    0       nonexistent
19972 no      cellular  aug   <U+22EF>  1       999    0       nonexistent
19973 no      telephone may   <U+22EF>  1       999    0       nonexistent
19974 unknown cellular  jul   <U+22EF>  2       999    0       nonexistent
19975 no      cellular  aug   <U+22EF>  2       999    0       nonexistent
19976 no      cellular  nov   <U+22EF>  1       999    0       nonexistent
19977 yes     cellular  aug   <U+22EF>  2       999    0       nonexistent
19978 no      telephone jun   <U+22EF>  2       999   NA       nonexistent
19979 no      cellular  aug   <U+22EF>  1       999    0       nonexistent
19980 yes     cellular  aug   <U+22EF>  1       999    0       nonexistent
19981 no      cellular  oct   <U+22EF>  6         6    3       failure
19982 no      cellular  aug   <U+22EF>  3       999    0       nonexistent
19983 no      telephone may   <U+22EF>  3       999    0       nonexistent
19984 no      telephone may   <U+22EF>  3       999    0       nonexistent
19985 no      cellular  jul   <U+22EF>  3       999    0       nonexistent
19986 yes     telephone may   <U+22EF>  2       999    0       nonexistent
19987 yes     cellular  sep   <U+22EF>  1       999    0       nonexistent
19988 no      telephone jul   <U+22EF> NA       999    0       nonexistent
19989 no      telephone may   <U+22EF>  1       999    0       nonexistent
19990 no      cellular  oct   <U+22EF>  1       999    0       nonexistent
19991 no      cellular  sep   <U+22EF>  1         1    3       success
19992 no      cellular  aug   <U+22EF>  1       999    0       nonexistent
19993 no      cellular  aug   <U+22EF>  2       999    0       nonexistent
19994 no      cellular  may   <U+22EF>  6       999    1       failure
19995 no      cellular  jul   <U+22EF> 24       999    0       nonexistent
19996 yes     cellular  jul   <U+22EF>  1       999    0       nonexistent
19997 no      cellular  may   <U+22EF>  2       999    1       failure
19998 yes     cellular  may   <U+22EF>  1       999    1       failure
19999 no      telephone jul   <U+22EF> 10       999    0       nonexistent
20000 yes     cellular  aug   <U+22EF>  3       999    0       nonexistent
      emp.var.rate cons.price.idx cons.conf.idx euribor3m nr.employed subscribe
1      1.4         93.918         -42.7         4.968     5228.1      0
2      1.4         94.465         -41.8         4.960     5228.1      0
3     -1.8         92.893         -46.2         1.264     5099.1      0
4     -1.8         93.075         -47.1         1.453     5099.1      0
5      1.1         93.994         -36.4         4.859     5191.0      0
6      1.1         93.994         -36.4         4.858     5191.0      0
7     -1.8         93.075         -47.1         1.405     5099.1      1
8      1.1         93.994         -36.4         4.857     5191.0      0
9     -1.8         92.893         -46.2         1.250     5099.1      0
10     1.4         93.444         -36.1         4.965     5228.1      0
11     1.4         94.465         -41.8         4.961     5228.1      0
12     1.4         93.918         -42.7         4.963     5228.1      0
13     1.4         93.918         -42.7         4.958     5228.1      0
14    -1.8         92.893         -46.2         1.344     5099.1      0
15    -0.1         93.200         -42.0         4.076     5195.8      1
16    -0.1         93.200         -42.0         4.191     5195.8      0
17     1.4         94.465         -41.8         4.866     5228.1      0
18    -1.8         93.075         -47.1         1.410     5099.1      0
19     1.1         93.994         -36.4         4.858     5191.0      0
20    -1.8         93.075         -47.1         1.405     5099.1      0
21     1.1         93.994         -36.4         4.855     5191.0      0
22    -1.8         92.893         -46.2         1.334     5099.1      0
23    -1.8         92.893         -46.2         1.281     5099.1      0
24     1.1         93.994         -36.4         4.856     5191.0      0
25     1.1         93.994         -36.4         4.856     5191.0      0
26     1.4         94.465         -41.8         4.865     5228.1      0
27    -0.1         93.200         -42.0         4.021     5195.8      0
28     1.1         93.994         -36.4         4.856     5191.0      0
29     1.4         93.918         -42.7         4.962     5228.1      0
30     1.4         93.444         -36.1         4.967     5228.1      0
<U+22EE>     <U+22EE>     <U+22EE>       <U+22EE>      <U+22EE>  <U+22EE>    <U+22EE>
19971  1.4         93.444         -36.1         4.965     5228.1      0
19972  1.4         93.444         -36.1         4.964     5228.1      0
19973  1.1         93.994         -36.4         4.860     5191.0      0
19974 -2.9         92.469         -33.6         0.914     5076.2      0
19975  1.4         93.444         -36.1         4.966     5228.1      0
19976 -0.1         93.200         -42.0         4.153     5195.8      0
19977  1.4         93.444         -36.1         4.965     5228.1      0
19978  1.4         94.465         -41.8         4.865     5228.1      0
19979  1.4         93.444         -36.1         4.965     5228.1      0
19980  1.4         93.444         -36.1         4.968     5228.1      0
19981 -3.4         92.431         -26.9         0.754     5017.5      0
19982  1.4         93.444         -36.1         4.963     5228.1      0
19983  1.1         93.994         -36.4         4.864     5191.0      0
19984  1.1         93.994         -36.4         4.860     5191.0      0
19985  1.4         93.918         -42.7         4.968     5228.1      0
19986  1.1         93.994         -36.4         4.856     5191.0      0
19987 -1.1         94.199         -37.5         0.877     4963.6      1
19988  1.4         93.918         -42.7         4.960     5228.1      0
19989  1.1             NA         -36.4         4.859     5191.0      0
19990 -3.4         92.431            NA         0.728     5017.5      1
19991 -3.4         92.379         -29.8         0.773     5017.5      1
19992  1.4         93.444         -36.1         4.963     5228.1      0
19993  1.4         93.444         -36.1         4.963     5228.1      1
19994 -1.8         92.893         -46.2         1.344     5099.1      0
19995  1.4         93.918         -42.7         4.968     5228.1      0
19996  1.4         93.918         -42.7         4.957     5228.1      1
19997 -1.8         92.893         -46.2         1.299     5099.1      0
19998 -1.8         92.893         -46.2         1.299     5099.1      0
19999  1.4         93.918         -42.7         4.960     5228.1      0
20000  1.4         93.444         -36.1         4.963     5228.1      0


### Cleaning Train Table

In [6]:
# Sum of missing values in train bank marketing data set
sum(is.na(train))

[1] 3664

In [7]:
# Missing values per variable in train
missing_values <- sapply(train, function(x) sum(is.na(x)))
missing_values

     client_id            age            job        marital      education
             0            202            161            199            170
       default        housing           loan        contact          month
           214            195            219            217            199
   day_of_week       campaign          pdays       previous       poutcome
           185            203            185            209            175
  emp.var.rate cons.price.idx  cons.conf.idx      euribor3m    nr.employed
           165            181            197            204            184
     subscribe
             0


As our missing data represent only a maximum of 1% of the total observation in each variable, it is possible to drop them. In order to check if our dropping idea was right we will check how many observations has been deleted in total. If the dropping will result in more than 10% lose of observations then we will keep and replace the missing values.

In [8]:
# Dropping all na

traindrop <- train %>% drop_na()
nrow(traindrop)

[1] 16633


We can see that this technique would lead to a huge lose of data, more than 16% of our total observations. We will then keep and replace our missing data.  
- With a new category 'other' for categorical data unless this category already exists
- With a new category 'other' for logical data (as missing data represents less than 5% of observations)
- With the median or mean for numerical values

We will need to create indicators variable for numerical to track the missing data as it can be correlated to our target as well. We will also need to process with the same cleaning steps for both train and test data.


 #### 1. Categorical data 
It represents job, marital status, education, contact, month, day_of_week and poutcome

In [9]:
# Replacing NA for categorical data

# NA for job: As an 'unknown' category already exists then we replace the missing value with it
train$job = train$job %>% replace_na('unknown')

# NA for marital status: As an 'unknown' category already exists then we replace the missing value with it
train$marital = train$marital %>% replace_na('unknown')

# NA for education: As an 'unknown' category already exists then we replace the missing value with it
train$education = train$education %>% replace_na('unknown')

# NA for contact: As 'unknown' category doesn't exist yet we create it
train$contact = train$contact %>% replace_na('unknown')

# NA for month: As 'unknown' category doesn't exist yet we create it
train$month = train$month %>% replace_na('unknown')

# NA for day_of_week: As 'unknown' category doesn't exist yet we create it
train$day_of_week = train$day_of_week %>% replace_na('unknown')

# NA for poutcome: As an 'nonexistent' category already exists then we replace the missing value with it
train$poutcome = train$poutcome %>% replace_na('nonexistent')


#### 2. Logical data
It represents default, housing, loan and subscribe (target)

In [10]:
# Dealing with NA for logical data

# NA for default: As an 'unknown' category already exists then we replace the missing value with it
train$default = train$default %>% replace_na('unknown')

# NA for housing: As an 'unknown' category already exists then we replace the missing value with it
train$housing= train$housing %>% replace_na('unknown')

# NA for loan: As an 'unknown' category already exists then we replace the missing value with it
train$loan = train$loan %>% replace_na('unknown')

# Subscribe doesn't have any missing value


#### 3. Numerical data 

*For numerical data we need to create indicators to track the imputation*

- age will be replaced by the median
- campaign: the higher the better, it is not categorical
- Pdays: replacing 999 by zero and creating a new variable (or checking how many zeros first)
- previous: replacing by the median
- emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed will be replaced by the mean

In [11]:
# We will replace age by the median
# -> we can also create categorical variable for the age depending of our model result

# First step: creating a new variable 
train$missing_age <- ifelse(is.na(train$age) == TRUE, 1, 0)

# Second step: replacing by the median
train$age[is.na(train$age)]<-mean(train$age,na.rm=TRUE)

In [12]:
# For campaign variable

# We create a new 'campaign_missing' variable: 1 for missing and 0 otherwise
train$missing_campaign <- ifelse(is.na(train$campaign) == TRUE, 1, 0)

# We will replace campaign missing value by the median 
train$campaign[is.na(train$campaign)]<-mean(train$campaign,na.rm=TRUE)

In [13]:
# Checking if it was correctly assign 
#checkingmissing = train[,c('campaign','missing_campaign')]
#checkingmissing[order(checkingmissing$campaign),]

In [14]:
# Checking how many people with 0. 
#We do not have a lot of data in zero, we can assign a 1 instead of 0 for these clients
# -> We can also assign categorical variable instead of numerical later on
as.data.frame(table(train$pdays))

   Var1 Freq
1  0        8
2  1        9
3  2       30
4  3      221
5  4       62
6  5       21
7  6      209
8  7       28
9  8       11
10 9       33
11 10      27
12 11      12
13 12      27
14 13      14
15 14       7
16 15      12
17 16       5
18 17       3
19 18       4
20 19       1
21 21       1
22 22       3
23 26       1
24 27       1
25 999  19065

In [15]:
# For pdays variable

# First we replace pdays 0 values with 1 (the difference in days for 0 and 1 is not huge)
train["pdays"][train["pdays"] == 0] <- 1

# We create a new indicator variable for '999' to track the replacement
train$replace999 <- ifelse(train$pdays == 999, 1, 0)
train$replace999 <- ifelse(is.na(train$replace999) == TRUE, 1, 0)

# We replace pdays 999 values with zero (So the zero is more significant for people without contact)
train["pdays"][train["pdays"] == 999] <- 0

# We track the NA values as a new variable
train$missing_pdays <- ifelse(is.na(train$pdays) == TRUE, 1, 0)

# We can finally replace the NA values by zero 
train$pdays = train$pdays %>% replace_na(0)

In [16]:
train

      client_id age job           marital  education           default housing
1     29925     42  management    married  basic.9y            no      no
2     37529     35  unemployed    married  university.degree   no      yes
3      2757     44  technician    married  basic.9y            no      yes
4      9642     45  services      married  high.school         no      yes
5     14183     45  unknown       married  unknown             unknown unknown
6     15180     38  technician    married  professional.course no      no
7     27168     33  technician    married  professional.course no      no
8      9097     38  blue-collar   single   basic.9y            unknown yes
9     30538     29  blue-collar   single   unknown             no      yes
10    28981     34  admin.        divorced university.degree   no      yes
11     7989     47  blue-collar   married  high.school         unknown yes
12    13536     30  blue-collar   single   basic.9y            no      yes
13    24541     30  admin.        married  basic.6y            no      yes
14     6216     35  services      married  basic.6y            unknown yes
15    17983     45  management    married  professional.course no      no
16    29394     37  entrepreneur  married  university.degree   unknown yes
17    28825     48  blue-collar   married  basic.6y            no      no
18       41     47  admin.        married  basic.6y            unknown yes
19     7284     35  blue-collar   married  basic.9y            no      yes
20    28502     34  technician    married  professional.course no      no
21    11473     60  technician    married  university.degree   unknown yes
22     6134     35  services      single   high.school         no      no
23    33523     32  technician    married  university.degree   no      yes
24    21812     49  blue-collar   married  unknown             unknown yes
25    39895     45  technician    single   professional.course no      no
26     9326     33  blue-collar   single   basic.9y            unknown yes
27    26510     34  management    single   university.degree   no      unknown
28    20960     57  retired       married  university.degree   no      yes
29    14403     50  technician    single   professional.course no      no
30    28799     49  housemaid     married  university.degree   no      yes
<U+22EE>     <U+22EE>  <U+22EE> <U+22EE>      <U+22EE> <U+22EE>            <U+22EE> <U+22EE>
19971  3036     33  self-employed married  university.degree   no      no
19972 19102     31  admin.        single   university.degree   unknown yes
19973 37729     46  technician    married  professional.course no      no
19974 20186     50  self-employed married  unknown             no      unknown
19975 38059     43  admin.        divorced university.degree   unknown no
19976  8099     32  technician    divorced professional.course no      no
19977 15178     37  housemaid     married  basic.4y            unknown no
19978 18920     47  technician    divorced high.school         no      yes
19979 19757     31  admin.        single   university.degree   no      yes
19980  9327     31  admin.        single   university.degree   unknown no
19981 16641     51  technician    married  professional.course no      yes
19982  9656     30  admin.        married  university.degree   no      yes
19983 37330     42  technician    married  professional.course unknown yes
19984 34568     32  blue-collar   married  basic.6y            no      yes
19985 23095     41  blue-collar   married  basic.6y            no      yes
19986 25383     48  admin.        divorced high.school         no      no
19987 16918     31  admin.        unknown  university.degree   no      yes
19988  4245     35  blue-collar   single   unknown             no      yes
19989 21920     39  blue-collar   married  basic.4y            unknown yes
19990 29000     21  student       single   high.school         no      no
19991  6627     28  admin.        single   university.degree   no      yes
19992 35702     29  admin.        single   university.degree   no      yes
19993 38555     49  services      married  basic.4y            unknown no
19994 23289     38  blue-collar   divorced high.school         no      yes
19995  2969     36  blue-collar   single   high.school         no      yes
19996 13724     45  unknown       unknown  unknown             no      yes
19997 29863     26  admin.        single   university.degree   no      yes
19998  9841     33  admin.        married  high.school         no      yes
19999 36432     43  admin.        married  high.school         no      yes
20000 15639     55  blue-collar   married  basic.9y            no      yes
      loan    contact   month <U+22EF>        emp.var.rate cons.price.idx
1     no      cellular  jul   <U+22EF>  1.4         93.918
2     no      telephone jun   <U+22EF>  1.4         94.465
3     yes     cellular  may   <U+22EF> -1.8         92.893
4     no      cellular  apr   <U+22EF> -1.8         93.075
5     unknown telephone may   <U+22EF>  1.1         93.994
6     no      telephone may   <U+22EF>  1.1         93.994
7     yes     cellular  apr   <U+22EF> -1.8         93.075
8     no      telephone may   <U+22EF>  1.1         93.994
9     no      cellular  may   <U+22EF> -1.8         92.893
10    yes     cellular  aug   <U+22EF>  1.4         93.444
11    no      telephone jun   <U+22EF>  1.4         94.465
12    no      cellular  jul   <U+22EF>  1.4         93.918
13    no      cellular  jul   <U+22EF>  1.4         93.918
14    no      cellular  may   <U+22EF> -1.8         92.893
15    no      cellular  nov   <U+22EF> -0.1         93.200
16    no      cellular  nov   <U+22EF> -0.1         93.200
17    no      telephone jun   <U+22EF>  1.4         94.465
18    no      cellular  apr   <U+22EF> -1.8         93.075
19    no      telephone may   <U+22EF>  1.1         93.994
20    no      cellular  apr   <U+22EF> -1.8         93.075
21    no      telephone may   <U+22EF>  1.1         93.994
22    no      cellular  may   <U+22EF> -1.8         92.893
23    no      cellular  may   <U+22EF> -1.8         92.893
24    no      telephone may   <U+22EF>  1.1         93.994
25    no      telephone may   <U+22EF>  1.1         93.994
26    no      telephone jun   <U+22EF>  1.4         94.465
27    unknown telephone nov   <U+22EF> -0.1         93.200
28    no      telephone may   <U+22EF>  1.1         93.994
29    yes     cellular  jul   <U+22EF>  1.4         93.918
30    no      cellular  aug   <U+22EF>  1.4         93.444
<U+22EE>     <U+22EE> <U+22EE>  <U+22EE> <U+22F1> <U+22EE>     <U+22EE>
19971 no      cellular  aug   <U+22EF>  1.4         93.444
19972 no      cellular  aug   <U+22EF>  1.4         93.444
19973 no      telephone may   <U+22EF>  1.1         93.994
19974 unknown cellular  jul   <U+22EF> -2.9         92.469
19975 no      cellular  aug   <U+22EF>  1.4         93.444
19976 no      cellular  nov   <U+22EF> -0.1         93.200
19977 yes     cellular  aug   <U+22EF>  1.4         93.444
19978 no      telephone jun   <U+22EF>  1.4         94.465
19979 no      cellular  aug   <U+22EF>  1.4         93.444
19980 yes     cellular  aug   <U+22EF>  1.4         93.444
19981 no      cellular  oct   <U+22EF> -3.4         92.431
19982 no      cellular  aug   <U+22EF>  1.4         93.444
19983 no      telephone may   <U+22EF>  1.1         93.994
19984 no      telephone may   <U+22EF>  1.1         93.994
19985 no      cellular  jul   <U+22EF>  1.4         93.918
19986 yes     telephone may   <U+22EF>  1.1         93.994
19987 yes     cellular  sep   <U+22EF> -1.1         94.199
19988 no      telephone jul   <U+22EF>  1.4         93.918
19989 no      telephone may   <U+22EF>  1.1             NA
19990 no      cellular  oct   <U+22EF> -3.4         92.431
19991 no      cellular  sep   <U+22EF> -3.4         92.379
19992 no      cellular  aug   <U+22EF>  1.4         93.444
19993 no      cellular  aug   <U+22EF>  1.4         93.444
19994 no      cellular  may   <U+22EF> -1.8         92.893
19995 no      cellular  jul   <U+22EF>  1.4         93.918
19996 yes     cellular  jul   <U+22EF>  1.4         93.918
19997 no      cellular  may   <U+22EF> -1.8         92.893
19998 yes     cellular  may   <U+22EF> -1.8         92.893
19999 no      telephone jul   <U+22EF>  1.4         93.918
20000 yes     cellular  aug   <U+22EF>  1.4         93.444
      cons.conf.idx euribor3m nr.employed subscribe missing_age
1     -42.7         4.968     5228.1      0         0
2     -41.8         4.960     5228.1      0         0
3     -46.2         1.264     5099.1      0         0
4     -47.1         1.453     5099.1      0         0
5     -36.4         4.859     5191.0      0         0
6     -36.4         4.858     5191.0      0         0
7     -47.1         1.405     5099.1      1         0
8     -36.4         4.857     5191.0      0         0
9     -46.2         1.250     5099.1      0         0
10    -36.1         4.965     5228.1      0         0
11    -41.8         4.961     5228.1      0         0
12    -42.7         4.963     5228.1      0         0
13    -42.7         4.958     5228.1      0         0
14    -46.2         1.344     5099.1      0         0
15    -42.0         4.076     5195.8      1         0
16    -42.0         4.191     5195.8      0         0
17    -41.8         4.866     5228.1      0         0
18    -47.1         1.410     5099.1      0         0
19    -36.4         4.858     5191.0      0         0
20    -47.1         1.405     5099.1      0         0
21    -36.4         4.855     5191.0      0         0
22    -46.2         1.334     5099.1      0         0
23    -46.2         1.281     5099.1      0         0
24    -36.4         4.856     5191.0      0         0
25    -36.4         4.856     5191.0      0         0
26    -41.8         4.865     5228.1      0         0
27    -42.0         4.021     5195.8      0         0
28    -36.4         4.856     5191.0      0         0
29    -42.7         4.962     5228.1      0         0
30    -36.1         4.967     5228.1      0         0
<U+22EE>     <U+22EE>      <U+22EE>  <U+22EE>    <U+22EE>  <U+22EE>
19971 -36.1         4.965     5228.1      0         0
19972 -36.1         4.964     5228.1      0         0
19973 -36.4         4.860     5191.0      0         0
19974 -33.6         0.914     5076.2      0         0
19975 -36.1         4.966     5228.1      0         0
19976 -42.0         4.153     5195.8      0         0
19977 -36.1         4.965     5228.1      0         0
19978 -41.8         4.865     5228.1      0         0
19979 -36.1         4.965     5228.1      0         0
19980 -36.1         4.968     5228.1      0         0
19981 -26.9         0.754     5017.5      0         0
19982 -36.1         4.963     5228.1      0         0
19983 -36.4         4.864     5191.0      0         0
19984 -36.4         4.860     5191.0      0         0
19985 -42.7         4.968     5228.1      0         0
19986 -36.4         4.856     5191.0      0         0
19987 -37.5         0.877     4963.6      1         0
19988 -42.7         4.960     5228.1      0         0
19989 -36.4         4.859     5191.0      0         0
19990    NA         0.728     5017.5      1         0
19991 -29.8         0.773     5017.5      1         0
19992 -36.1         4.963     5228.1      0         0
19993 -36.1         4.963     5228.1      1         0
19994 -46.2         1.344     5099.1      0         0
19995 -42.7         4.968     5228.1      0         0
19996 -42.7         4.957     5228.1      1         0
19997 -46.2         1.299     5099.1      0         0
19998 -46.2         1.299     5099.1      0         0
19999 -42.7         4.960     5228.1      0         0
20000 -36.1         4.963     5228.1      0         0
      missing_campaign replace999 missing_pdays
1     0                0          0
2     0                0          0
3     0                0          0
4     0                0          0
5     0                0          0
6     0                0          0
7     0                1          1
8     0                0          0
9     0                0          0
10    0                0          0
11    0                0          0
12    0                0          0
13    0                0          0
14    0                0          0
15    0                0          0
16    0                0          0
17    0                0          0
18    0                0          0
19    0                0          0
20    0                0          0
21    0                0          0
22    0                0          0
23    0                0          0
24    0                0          0
25    0                0          0
26    0                0          0
27    0                0          0
28    0                0          0
29    0                0          0
30    0                0          0
<U+22EE>     <U+22EE>         <U+22EE>   <U+22EE>
19971 0                0          0
19972 0                0          0
19973 0                0          0
19974 0                0          0
19975 0                0          0
19976 0                0          0
19977 0                0          0
19978 0                0          0
19979 0                0          0
19980 0                0          0
19981 0                0          0
19982 0                0          0
19983 0                0          0
19984 0                0          0
19985 0                0          0
19986 0                0          0
19987 0                0          0
19988 1                0          0
19989 0                0          0
19990 0                0          0
19991 0                0          0
19992 0                0          0
19993 0                0          0
19994 0                0          0
19995 0                0          0
19996 0                0          0
19997 0                0          0
19998 0                0          0
19999 0                0          0
20000 0                0          0

In [17]:
# For previous variable

# We count the unique values frequency first
as.data.frame(table(train$previous))

  Var1 Freq
1 0    17120
2 1     2152
3 2      371
4 3      103
5 4       31
6 5       12
7 6        2

In [18]:
# We can either replace missing values by the median + tracking missing or creating categorical variables with a new category
# -> We will first try by assigning the median and tracking the missing data, we can improve this later for the modelling

# First step: new variable 
train$missing_previous <- ifelse(is.na(train$previous) == TRUE, 1, 0)

# Second step: replacing NA
train$previous[is.na(train$previous)]<-median(train$previous,na.rm=TRUE)

In [19]:
# Finally, emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed will be replaced by the mean

# First step: new variables 
train$missing_emp.var.rate <- ifelse(is.na(train$emp.var.rate) == TRUE, 1, 0)
train$missing_cons.price.idx <- ifelse(is.na(train$cons.price.idx) == TRUE, 1, 0)
train$missing_cons.conf.idx <- ifelse(is.na(train$cons.conf.idx) == TRUE, 1, 0)
train$missing_euribor3m <- ifelse(is.na(train$euribor3m) == TRUE, 1, 0)
train$missing_nr.employed <- ifelse(is.na(train$nr.employed) == TRUE, 1, 0)

# Second step: replacing NA
train$emp.var.rate[is.na(train$emp.var.rate)]<-mean(train$emp.var.rate,na.rm=TRUE)
train$cons.price.idx[is.na(train$cons.price.idx)]<-mean(train$cons.price.idx,na.rm=TRUE)
train$cons.conf.idx[is.na(train$cons.conf.idx)]<-mean(train$cons.conf.idx,na.rm=TRUE)
train$euribor3m[is.na(train$euribor3m)]<-mean(train$euribor3m,na.rm=TRUE)
train$nr.employed[is.na(train$nr.employed)]<-mean(train$nr.employed,na.rm=TRUE)

In [20]:
# Checking missing values per variables in train
missing_values <- sapply(train, function(x) sum(is.na(x)))
missing_values

             client_id                    age                    job
                     0                      0                      0
               marital              education                default
                     0                      0                      0
               housing                   loan                contact
                     0                      0                      0
                 month            day_of_week               campaign
                     0                      0                      0
                 pdays               previous               poutcome
                     0                      0                      0
          emp.var.rate         cons.price.idx          cons.conf.idx
                     0                      0                      0
             euribor3m            nr.employed              subscribe
                     0                      0                      0
           missing_age       missing_campaign             replace999
                     0                      0                      0
         missing_pdays       missing_previous   missing_emp.var.rate
                     0                      0                      0
missing_cons.price.idx  missing_cons.conf.idx      missing_euribor3m
                     0                      0                      0
   missing_nr.employed
                     0

In [21]:
# See final train table 

str(train)

'data.frame':	20000 obs. of  31 variables:
 $ client_id             : int  29925 37529 2757 9642 14183 15180 27168 9097 30538 28981 ...
 $ age                   : num  42 35 44 45 45 38 33 38 29 34 ...
 $ job                   : chr  "management" "unemployed" "technician" "services" ...
 $ marital               : chr  "married" "married" "married" "married" ...
 $ education             : chr  "basic.9y" "university.degree" "basic.9y" "high.school" ...
 $ default               : chr  "no" "no" "no" "no" ...
 $ housing               : chr  "no" "yes" "yes" "yes" ...
 $ loan                  : chr  "no" "no" "yes" "no" ...
 $ contact               : chr  "cellular" "telephone" "cellular" "cellular" ...
 $ month                 : chr  "jul" "jun" "may" "apr" ...
 $ day_of_week           : chr  "thu" "mon" "mon" "tue" ...
 $ campaign              : num  1 4 1 1 1 2 1 1 1 1 ...
 $ pdays                 : num  0 0 0 0 0 0 0 0 0 0 ...
 $ previous              : int  0 0 0 0 0 0 1 0 1 0 ...
 $ poutcome              : chr  "nonexistent" "nonexistent" "nonexistent" "nonexistent" ...
 $ emp.var.rate          : num  1.4 1.4 -1.8 -1.8 1.1 1.1 -1.8 1.1 -1.8 1.4 ...
 $ cons.price.idx        : num  93.9 94.5 92.9 93.1 94 ...
 $ cons.conf.idx         : num  -42.7 -41.8 -46.2 -47.1 -36.4 -36.4 -47.1 -36.4 -46.2 -36.1 ...
 $ euribor3m             : num  4.97 4.96 1.26 1.45 4.86 ...
 $ nr.employed           : num  5228 5228 5099 5099 5191 ...
 $ subscribe             : int  0 0 0 0 0 0 1 0 0 0 ...
 $ missing_age           : num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_campaign      : num  0 0 0 0 0 0 0 0 0 0 ...
 $ replace999            : num  0 0 0 0 0 0 1 0 0 0 ...
 $ missing_pdays         : num  0 0 0 0 0 0 1 0 0 0 ...
 $ missing_previous      : num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_emp.var.rate  : num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_cons.price.idx: num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_cons.conf.idx : num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_euribor3m     : num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_nr.employed   : num  0 0 0 0 0 0 0 0 0 0 ...


## Correlation Matrix

In [22]:
# Creating an atrain dataset for the analysis without the 'missing track variables' and without client_id
atrain = subset(train, select=-c(client_id, missing_age, missing_campaign, replace999, missing_pdays, missing_previous, missing_emp.var.rate, missing_cons.price.idx, missing_cons.conf.idx, missing_euribor3m , missing_nr.employed))


##### Correlation Matrix

In [23]:
# Plotting correlation without job, education, month and day of the week

plot_correlation(na.omit(atrain), maxcat = 5L)

ERROR: Error in plot_correlation(na.omit(atrain), maxcat = 5L): could not find function "plot_correlation"

According to our main correlation matrix we can conclude that the most important variables are pdays, previous, loan and poutcome. We can also notice a negative correlation with campaign, emp_var_rate, cons_price_idx, eurib, employed, poutcome nonexistent, as well as contact telephone.

In [24]:
# Plotting correlation between subscribe and education

educationmat = atrain[,c("subscribe","education")]
plot_correlation(na.omit(educationmat), maxcat = 12L)

ERROR: Error in plot_correlation(na.omit(educationmat), maxcat = 12L): could not find function "plot_correlation"

Only university degree can be correlated with subscribe

In [25]:
# Plotting correlation between subscribe and job

jobmat = atrain[,c("subscribe","job")]
plot_correlation(na.omit(jobmat), maxcat = 12L)

ERROR: Error in plot_correlation(na.omit(jobmat), maxcat = 12L): could not find function "plot_correlation"


Some jobs can be related to subscribe

In [26]:
# Plotting correlation between subscribe and month

monthmat = atrain[,c("subscribe","month")]
plot_correlation(na.omit(monthmat), maxcat = 12L)

ERROR: Error in plot_correlation(na.omit(monthmat), maxcat = 12L): could not find function "plot_correlation"


Month can be related to subscribe

In [27]:
# Plotting correlation between subscribe and day

daymat = atrain[,c("subscribe","day_of_week")]
plot_correlation(na.omit(daymat), maxcat = 12L)

ERROR: Error in plot_correlation(na.omit(daymat), maxcat = 12L): could not find function "plot_correlation"


Day is not correlated at all with our target variable

In [28]:
# Correlation with missing value from missing variables 

mtrain = train[,c("subscribe", "missing_age", "missing_campaign", "replace999", "missing_pdays", "missing_previous", "missing_emp.var.rate", "missing_cons.price.idx", "missing_cons.conf.idx", "missing_euribor3m" , "missing_nr.employed")]
plot_correlation(na.omit(mtrain), maxcat = 12L)

ERROR: Error in plot_correlation(na.omit(mtrain), maxcat = 12L): could not find function "plot_correlation"


There is no correlation with subscribre and the missing or replacement tracker variables

In [29]:
# We can already remove the less important variables such as client_id, day, loan and trackers variables

train = subset(train, select=-c(client_id, loan, day_of_week, missing_age, missing_campaign, replace999, missing_pdays, missing_previous, missing_emp.var.rate, missing_cons.price.idx, missing_cons.conf.idx, missing_euribor3m , missing_nr.employed))


### Last steps before Modeling

In [30]:
str(train)

'data.frame':	20000 obs. of  18 variables:
 $ age           : num  42 35 44 45 45 38 33 38 29 34 ...
 $ job           : chr  "management" "unemployed" "technician" "services" ...
 $ marital       : chr  "married" "married" "married" "married" ...
 $ education     : chr  "basic.9y" "university.degree" "basic.9y" "high.school" ...
 $ default       : chr  "no" "no" "no" "no" ...
 $ housing       : chr  "no" "yes" "yes" "yes" ...
 $ contact       : chr  "cellular" "telephone" "cellular" "cellular" ...
 $ month         : chr  "jul" "jun" "may" "apr" ...
 $ campaign      : num  1 4 1 1 1 2 1 1 1 1 ...
 $ pdays         : num  0 0 0 0 0 0 0 0 0 0 ...
 $ previous      : int  0 0 0 0 0 0 1 0 1 0 ...
 $ poutcome      : chr  "nonexistent" "nonexistent" "nonexistent" "nonexistent" ...
 $ emp.var.rate  : num  1.4 1.4 -1.8 -1.8 1.1 1.1 -1.8 1.1 -1.8 1.4 ...
 $ cons.price.idx: num  93.9 94.5 92.9 93.1 94 ...
 $ cons.conf.idx : num  -42.7 -41.8 -46.2 -47.1 -36.4 -36.4 -47.1 -36.4 -46.2 -36.1 ...
 $ euribor3m     : num  4.97 4.96 1.26 1.45 4.86 ...
 $ nr.employed   : num  5228 5228 5099 5099 5191 ...
 $ subscribe     : int  0 0 0 0 0 0 1 0 0 0 ...


#### 1. Replacing categorical string by numerical category


These variables are job, marital, education, default, housing, contact, month and poutcome

In [31]:
# Jobs

# Replacing job category in numerical category

train["job"][train["job"] == "management"] <- 11
train["job"][train["job"] == "entrepreneur"] <- 10
train["job"][train["job"] == "admin."] <- 9
train["job"][train["job"] == "services"] <- 8
train["job"][train["job"] == "self-employed"] <- 7
train["job"][train["job"] == "technician"] <- 6
train["job"][train["job"] == "housemaid"] <- 5
train["job"][train["job"] == "blue-collar"] <- 4
train["job"][train["job"] == "retired"] <- 3
train["job"][train["job"] == "student"] <- 2
train["job"][train["job"] == "unemployed"] <- 1
train["job"][train["job"] == "unknown"] <- 0

# Checking for unique value 
unique(train$job)

 [1] "11" "1"  "6"  "8"  "0"  "4"  "9"  "10" "3"  "5"  "2"  "7"

In [32]:
# Marital

# Replacing with numerical category
train["marital"][train["marital"] == "married"] <- 3
train["marital"][train["marital"] == "divorced"] <- 2
train["marital"][train["marital"] == "single"] <- 1
train["marital"][train["marital"] == "unknown"] <- 0

# Checking for unique value 
unique(train$marital)

[1] "3" "1" "2" "0"

In [33]:
# Education

# Replacing with numerical category
train["education"][train["education"] == "professional.course"] <- 7
train["education"][train["education"] == "university.degree"] <- 6
train["education"][train["education"] == "high.school"] <- 5
train["education"][train["education"] == "basic.9y"] <- 4
train["education"][train["education"] == "basic.6y"] <- 3
train["education"][train["education"] == "basic.4y"] <- 2
train["education"][train["education"] == "illiterate"] <- 1
train["education"][train["education"] == "unknown"] <- 0

# Checking for unique value 
unique(train$education)

[1] "4" "6" "5" "0" "7" "3" "2" "1"

In [34]:
# Default

# Replacing with numerical category
train["default"][train["default"] == "yes"] <- 2
train["default"][train["default"] == "no"] <- 1
train["default"][train["default"] == "unknown"] <- 0

# Checking for unique value 
unique(train$default)

[1] "1" "0" "2"

In [35]:
# Housing

# Replacing with numerical category
train["housing"][train["housing"] == "yes"] <- 2
train["housing"][train["housing"] == "no"] <- 1
train["housing"][train["housing"] == "unknown"] <- 0

# Checking for unique value 
unique(train$housing)

[1] "1" "2" "0"

In [36]:
# Contact

# Replacing with numerical category
train["contact"][train["contact"] == "cellular"] <- 2
train["contact"][train["contact"] == "telephone"] <- 1
train["contact"][train["contact"] == "unknown"] <- 0

# Checking for unique value 
unique(train$contact)

[1] "2" "1" "0"

In [37]:
# Month

# Replacing with numerical category
train["month"][train["month"] == "dec"] <- 10
train["month"][train["month"] == "nov"] <- 9
train["month"][train["month"] == "oct"] <- 8
train["month"][train["month"] == "sep"] <- 7
train["month"][train["month"] == "aug"] <- 6
train["month"][train["month"] == "jul"] <- 5
train["month"][train["month"] == "jun"] <- 4
train["month"][train["month"] == "may"] <- 3
train["month"][train["month"] == "apr"] <- 2
train["month"][train["month"] == "mar"] <- 1
train["month"][train["month"] == "unknown"] <- 0

# Checking for unique value 
unique(train$month)

 [1] "5"  "4"  "3"  "2"  "6"  "9"  "7"  "8"  "10" "0"  "1"

In [38]:
# Poutcome

# Replacing with numerical category
train["poutcome"][train["poutcome"] == "success"] <- 2
train["poutcome"][train["poutcome"] == "failure"] <- 1
train["poutcome"][train["poutcome"] == "nonexistent"] <- 0

# Checking for unique value 
unique(train$poutcome)

[1] "0" "1" "2"


##### 2. Factorization

In [39]:
# Creating factors for our categorical data 
train$job = as.factor(train$job)
train$marital = as.factor(train$marital)
train$education = as.factor(train$education)
train$contact = as.factor(train$contact)
train$month = as.factor(train$month)
train$poutcome = as.factor(train$poutcome)


# Creating factors for our logical data 
train$default = as.factor(train$default)
train$housing = as.factor(train$housing)
train$subscribe = as.factor(train$subscribe)

In [40]:
str(train)

'data.frame':	20000 obs. of  18 variables:
 $ age           : num  42 35 44 45 45 38 33 38 29 34 ...
 $ job           : Factor w/ 12 levels "0","1","10","11",..: 4 2 9 11 1 9 9 7 7 12 ...
 $ marital       : Factor w/ 4 levels "0","1","2","3": 4 4 4 4 4 4 4 2 2 3 ...
 $ education     : Factor w/ 8 levels "0","1","2","3",..: 5 7 5 6 1 8 8 5 1 7 ...
 $ default       : Factor w/ 3 levels "0","1","2": 2 2 2 2 1 2 2 1 2 2 ...
 $ housing       : Factor w/ 3 levels "0","1","2": 2 3 3 3 1 2 2 3 3 3 ...
 $ contact       : Factor w/ 3 levels "0","1","2": 3 2 3 3 2 2 3 2 3 3 ...
 $ month         : Factor w/ 11 levels "0","1","10","2",..: 7 6 5 4 5 5 4 5 5 8 ...
 $ campaign      : num  1 4 1 1 1 2 1 1 1 1 ...
 $ pdays         : num  0 0 0 0 0 0 0 0 0 0 ...
 $ previous      : int  0 0 0 0 0 0 1 0 1 0 ...
 $ poutcome      : Factor w/ 3 levels "0","1","2": 1 1 1 1 1 1 2 1 2 1 ...
 $ emp.var.rate  : num  1.4 1.4 -1.8 -1.8 1.1 1.1 -1.8 1.1 -1.8 1.4 ...
 $ cons.price.idx: num  93.9 94.5 92.9 93.1 94 ...
 $ cons.conf.idx : num  -42.7 -41.8 -46.2 -47.1 -36.4 -36.4 -47.1 -36.4 -46.2 -36.1 ...
 $ euribor3m     : num  4.97 4.96 1.26 1.45 4.86 ...
 $ nr.employed   : num  5228 5228 5099 5099 5191 ...
 $ subscribe     : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 2 1 1 1 ...


# Modeling

In [41]:
bank = train

In [42]:
# Creating train and test data 80-20%

mysample = sort(sample(nrow(bank),nrow(bank)*.8))

train_data <- bank[mysample,]
test_data <- bank[-mysample,]

In [43]:
# Checking proportion of 0 and 1 in train and test

# Training set
prop.table(table(train_data$subscribe))

# Test set
prop.table(table(test_data$subscribe))

        0         1
0.8856875 0.1143125

     0      1
0.8895 0.1105

In [44]:
# => We can do a smote or stratified here

### 1. Random Forest

In [45]:
# Fitting the random forest to our training set

randomforestmodel = randomForest(formula = subscribe ~., 
                           data = train_data, ntree = 10)

summary(randomforestmodel)

ERROR: Error in randomForest(formula = subscribe ~ ., data = train_data, ntree = 10): could not find function "randomForest"

In [46]:
# Feature importance

importance(randomforestmodel)

ERROR: Error in importance(randomforestmodel): could not find function "importance"

In [47]:
# Plotting feature importance

options(repr.plot.width=6, repr.plot.height=6.5)
varImpPlot(randomforestmodel, type=2, main='Variable Importance - RF')

ERROR: Error in varImpPlot(randomforestmodel, type = 2, main = "Variable Importance - RF"): could not find function "varImpPlot"

In [48]:
# Predictions

RF_prediction = predict(randomforestmodel, newdata = test_data, type = "class")

ERROR: Error in predict(randomforestmodel, newdata = test_data, type = "class"): object 'randomforestmodel' not found

In [49]:
# Evaluation 

confusionMatrix(RF_prediction, test_data$subscribe)

ERROR: Error in confusionMatrix(RF_prediction, test_data$subscribe): object 'RF_prediction' not found

In [50]:
# AUC 

#To get AUC i need probability so i change type to "prob"

RF_predictions = predict(randomforestmodel, newdata = test_data, type = "prob")

# keeping only probability of the second column, corresponding to the '1'

RF_predictions = RF_predictions[,2]

ERROR: Error in predict(randomforestmodel, newdata = test_data, type = "prob"): object 'randomforestmodel' not found

In [51]:
# Printing AUC
print(paste0('AUC = ', pROC::auc(pROC::roc(test_data$subscribe, RF_predictions))))

ERROR: Error in roc.default(test_data$subscribe, RF_predictions): object 'RF_predictions' not found

In [52]:
# Using K-fold cross validation

folds = createFolds(y = train_data$subscribe, k = 10)

RF_crossvalidation = lapply(folds, function(var){
  train_fold = train_data[-var, ]
  test_fold = train_data[var, ]
  
  RF_classify = randomForest(formula = subscribe ~., 
                               data = train_fold, ntree = 20)
  RF_prediction_folds = predict(RF_classify, newdata = test_fold, type = "class")
  
  randomforest_folds = confusionMatrix(RF_prediction_folds, test_fold$subscribe)
  accuracy = randomforest_folds$overall[1]
  
  return(accuracy)
})

ERROR: Error in randomForest(formula = subscribe ~ ., data = train_fold, ntree = 20): could not find function "randomForest"

In [53]:
# Checking the accuracy after k-fold cross validation

mean(as.numeric(RF_crossvalidation))

ERROR: Error in mean(as.numeric(RF_crossvalidation)): object 'RF_crossvalidation' not found

### 2. Decision Tree

### 3. Logistic Regression

### 4. LDA or Others ...

## Cleaning the Test Data 
We clean the test data with the same process as the train data before sending our final submission

In [73]:
# Checking number of observations
count(test)

  n
1 10000

In [74]:
# Checking length: we have the same variables except 'subscribe'
length(test)

[1] 20

In [75]:
# Sum of missing values in test bank marketing data set
sum(is.na(test))

[1] 1975

In [76]:
# Missing values per variable in test
missing_values <- sapply(test, function(x) sum(is.na(x)))
missing_values

     client_id            age            job        marital      education
             0            105            111             95             97
       default        housing           loan        contact          month
           124            103            109             87            120
   day_of_week       campaign          pdays       previous       poutcome
           106             88            100            105            105
  emp.var.rate cons.price.idx  cons.conf.idx      euribor3m    nr.employed
           105            101            104             88            122


As in train cleaning we will keep and replace our missing values: 

- With a new category 'other' for categorical data unless this category already exists
- With a new category 'other' for logical data (as missing data represents less than 5% of observations)
- With the median or mean for numerical values

We will need to create indicators variable for numerical to track the missing data as it can be correlated to our target as well.


 #### 1. Categorical data 
It represents job, marital status, education, contact, month, day_of_week and poutcome

In [77]:
# Replacing NA for categorical data

# NA for job: As an 'unknown' category already exists then we replace the missing value with it
test$job = test$job %>% replace_na('unknown')

# NA for marital status: As an 'unknown' category already exists then we replace the missing value with it
test$marital = test$marital %>% replace_na('unknown')

# NA for education: As an 'unknown' category already exists then we replace the missing value with it
test$education = test$education %>% replace_na('unknown')

# NA for contact: As 'unknown' category doesn't exist yet we create it
test$contact = test$contact %>% replace_na('unknown')

# NA for month: As 'unknown' category doesn't exist yet we create it
test$month = test$month %>% replace_na('unknown')

# NA for day_of_week: As 'unknown' category doesn't exist yet we create it
test$day_of_week = test$day_of_week %>% replace_na('unknown')

# NA for poutcome: As an 'nonexistent' category already exists then we replace the missing value with it
test$poutcome = test$poutcome %>% replace_na('nonexistent')

#### 2. Logical data
It represents default, housing and loan

In [78]:
# Dealing with NA for logical data

# NA for default: As an 'unknown' category already exists then we replace the missing value with it
test$default = test$default %>% replace_na('unknown')

# NA for housing: As an 'unknown' category already exists then we replace the missing value with it
test$housing= test$housing %>% replace_na('unknown')

# NA for loan: As an 'unknown' category already exists then we replace the missing value with it
test$loan = test$loan %>% replace_na('unknown')


#### 3. Numerical data 

*For numerical data we need to create indicators to track the imputation*

- age will be replaced by the median
- campaign: the higher the better, it is not categorical
- Pdays: replacing 999 by zero and creating a new variable (or checking how many zeros first)
- previous: replacing by the median
- emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed will be replaced by the mean

In [79]:
# We will replace age by the median
# -> we can also create categorical variable for the age depending of our model result

# First step: creating a new variable 
test$missing_age <- ifelse(is.na(test$age) == TRUE, 1, 0)

# Second step: replacing by the median
test$age[is.na(test$age)]<-mean(test$age,na.rm=TRUE)

In [80]:
# For campaign variable

# We create a new 'campaign_missing' variable: 1 for missing and 0 otherwise
test$missing_campaign <- ifelse(is.na(test$campaign) == TRUE, 1, 0)

# We will replace campaign missing value by the median 
test$campaign[is.na(test$campaign)]<-mean(test$campaign,na.rm=TRUE)

In [81]:
# Checking if it was correctly assign 
#checkingmissing = test[,c('campaign','missing_campaign')]
#checkingmissing[order(checkingmissing$campaign),]

In [82]:
# Checking how many people with 0. 
#We do not have a lot of data in zero, we can assign a 1 instead of 0 for these clients
# -> We can also assign categorical variable instead of numerical later on
as.data.frame(table(test$pdays))

   Var1 Freq
1  0       2
2  1       5
3  2      13
4  3     122
5  4      34
6  5      13
7  6      85
8  7      16
9  8       3
10 9      12
11 10     15
12 11     11
13 12     14
14 13      8
15 14      6
16 15      1
17 16      5
18 17      2
19 18      1
20 19      1
21 20      1
22 21      1
23 999  9529

In [83]:
# For pdays variable

# First we replace pdays 0 values with 1 (the difference in days for 0 and 1 is not huge)
test["pdays"][test["pdays"] == 0] <- 1

# We create a new indicator variable for '999' to track the replacement
test$replace999 <- ifelse(test$pdays == 999, 1, 0)
test$replace999 <- ifelse(is.na(test$replace999) == TRUE, 1, 0)

# We replace pdays 999 values with zero (So the zero is more significant for people without contact)
test["pdays"][test["pdays"] == 999] <- 0

# We track the NA values as a new variable
test$missing_pdays <- ifelse(is.na(test$pdays) == TRUE, 1, 0)

# We can finally replace the NA values by zero 
test$pdays = test$pdays %>% replace_na(0)

In [84]:
test

      client_id age      job           marital  education           default
1      2986     53.00000 technician    single   professional.course no
2     29710     32.00000 blue-collar   married  basic.6y            no
3     38938     70.00000 retired       married  high.school         no
4     31313     46.00000 services      married  high.school         no
5     24173     35.00000 technician    single   unknown             no
6     14426     24.00000 student       single   high.school         no
7     40159     33.00000 admin.        divorced high.school         no
8     12301     38.00000 admin.        married  high.school         no
9      9640     37.00000 blue-collar   single   basic.9y            unknown
10    19742     36.00000 technician    married  university.degree   no
11     5967     41.00000 blue-collar   divorced basic.9y            unknown
12    25559     44.00000 management    married  professional.course no
13    34976     33.00000 technician    married  high.school         no
14    38126     27.00000 self-employed single   university.degree   no
15    17369     41.00000 blue-collar   married  basic.4y            no
16    40632     34.00000 services      married  high.school         no
17    37544     44.00000 blue-collar   married  basic.4y            no
18    11284     32.00000 admin.        single   university.degree   no
19    36717     39.93562 technician    married  professional.course no
20    14536     32.00000 blue-collar   single   high.school         no
21    26503     41.00000 blue-collar   married  professional.course no
22    22763     46.00000 services      married  high.school         no
23    32953     30.00000 blue-collar   married  basic.9y            no
24      413     47.00000 management    married  basic.9y            no
25    10762     39.00000 admin.        married  university.degree   unknown
26    14745     29.00000 entrepreneur  married  basic.9y            no
27    25946     72.00000 retired       divorced basic.4y            no
28    14804     32.00000 unemployed    single   professional.course no
29     6790     32.00000 blue-collar   married  basic.9y            no
30    30453     45.00000 technician    single   university.degree   unknown
<U+22EE>     <U+22EE>  <U+22EE> <U+22EE>      <U+22EE> <U+22EE>            <U+22EE>
9971   3688     43       admin.        married  university.degree   no
9972  13542     52       technician    married  professional.course no
9973  21023     30       technician    single   professional.course unknown
9974   5277     25       unemployed    single   high.school         unknown
9975  15316     37       blue-collar   married  basic.4y            unknown
9976    633     43       admin.        divorced university.degree   no
9977   8520     29       admin.        single   basic.9y            unknown
9978  38410     35       unknown       married  basic.9y            no
9979  31552     45       services      married  basic.9y            no
9980  18572     28       blue-collar   married  basic.4y            no
9981   3054     49       admin.        married  university.degree   unknown
9982  14279     33       self-employed married  basic.9y            unknown
9983   5006     40       services      married  high.school         unknown
9984  19290     31       admin.        married  university.degree   no
9985  27375     36       blue-collar   married  basic.9y            no
9986   8214     88       retired       divorced basic.4y            no
9987  39327     38       blue-collar   married  basic.4y            no
9988  37751     51       admin.        married  university.degree   no
9989  11511     36       admin.        married  high.school         no
9990  18459     53       services      divorced basic.9y            no
9991  18088     29       management    single   university.degree   no
9992  29838     34       blue-collar   married  professional.course no
9993  15880     34       technician    married  professional.course no
9994  32002     49       admin.        married  high.school         no
9995  34275     31       services      married  university.degree   no
9996    880     31       admin.        divorced university.degree   no
9997  28072     21       self-employed single   university.degree   no
9998  40491     39       housemaid     married  basic.4y            no
9999   5310     32       technician    single   university.degree   no
10000  6154     50       technician    married  university.degree   no
      housing loan    contact   month <U+22EF>        poutcome    emp.var.rate
1     no      no      cellular  jul   <U+22EF> nonexistent  1.4
2     yes     no      telephone jul   <U+22EF> nonexistent  1.4
3     yes     no      cellular  aug   <U+22EF> nonexistent -2.9
4     no      no      cellular  apr   <U+22EF> failure     -1.8
5     no      no      cellular  may   <U+22EF> failure     -1.8
6     yes     no      cellular  may   <U+22EF> success     -1.8
7     no      no      telephone apr   <U+22EF> nonexistent -1.8
8     yes     no      telephone jul   <U+22EF> nonexistent  1.4
9     no      no      telephone may   <U+22EF> nonexistent  1.1
10    no      no      cellular  jun   <U+22EF> success     -2.9
11    no      no      telephone may   <U+22EF> nonexistent  1.1
12    no      no      cellular  apr   <U+22EF> failure     -1.8
13    yes     yes     cellular  aug   <U+22EF> nonexistent  1.4
14    no      no      telephone oct   <U+22EF> nonexistent -1.1
15    no      yes     telephone jun   <U+22EF> nonexistent  1.4
16    no      no      telephone jun   <U+22EF> nonexistent  1.4
17    yes     no      cellular  jul   <U+22EF> nonexistent  1.4
18    yes     no      cellular  aug   <U+22EF> nonexistent  1.4
19    yes     no      telephone may   <U+22EF> failure     -1.8
20    unknown unknown cellular  nov   <U+22EF> nonexistent -0.1
21    yes     no      telephone jun   <U+22EF> nonexistent  1.4
22    yes     yes     telephone jul   <U+22EF> nonexistent  1.4
23    yes     no      cellular  nov   <U+22EF> failure     -0.1
24    no      no      cellular  jun   <U+22EF> nonexistent -2.9
25    yes     no      cellular  aug   <U+22EF> nonexistent  1.4
26    yes     no      cellular  nov   <U+22EF> nonexistent -0.1
27    yes     yes     cellular  aug   <U+22EF> failure     -2.9
28    yes     yes     cellular  jun   <U+22EF> nonexistent -1.7
29    no      no      telephone may   <U+22EF> nonexistent  1.1
30    no      no      cellular  aug   <U+22EF> nonexistent  1.4
<U+22EE>     <U+22EE> <U+22EE> <U+22EE>  <U+22EE> <U+22F1> <U+22EE>    <U+22EE>
9971  yes     yes     cellular  aug   <U+22EF> nonexistent  1.4
9972  yes     no      cellular  jul   <U+22EF> nonexistent  1.4
9973  yes     no      cellular  aug   <U+22EF> nonexistent  1.4
9974  yes     no      telephone jun   <U+22EF> nonexistent  1.4
9975  no      no      telephone may   <U+22EF> nonexistent  1.1
9976  no      no      cellular  jul   <U+22EF> nonexistent  1.4
9977  no      no      cellular  may   <U+22EF> nonexistent -1.8
9978  unknown no      telephone may   <U+22EF> nonexistent  1.1
9979  no      yes     telephone may   <U+22EF> nonexistent  1.1
9980  yes     no      cellular  jul   <U+22EF> nonexistent  1.4
9981  yes     no      cellular  aug   <U+22EF> nonexistent  1.4
9982  no      no      cellular  aug   <U+22EF> nonexistent  1.4
9983  yes     no      telephone may   <U+22EF> nonexistent  1.1
9984  no      no      cellular  nov   <U+22EF> nonexistent -0.1
9985  no      no      telephone may   <U+22EF> nonexistent  1.1
9986  no      no      cellular  oct   <U+22EF> success     -3.4
9987  yes     no      cellular  nov   <U+22EF> nonexistent -0.1
9988  yes     no      cellular  aug   <U+22EF> nonexistent  1.4
9989  yes     no      telephone may   <U+22EF> nonexistent  1.1
9990  yes     no      cellular  jul   <U+22EF> nonexistent  1.4
9991  no      no      cellular  aug   <U+22EF> nonexistent  1.4
9992  no      no      cellular  apr   <U+22EF> nonexistent -1.8
9993  no      no      cellular  aug   <U+22EF> nonexistent  1.4
9994  yes     yes     cellular  jul   <U+22EF> nonexistent  1.4
9995  yes     no      cellular  aug   <U+22EF> nonexistent  1.4
9996  yes     yes     cellular  may   <U+22EF> nonexistent -1.8
9997  yes     no      cellular  apr   <U+22EF> nonexistent -1.8
9998  yes     yes     cellular  aug   <U+22EF> nonexistent  1.4
9999  yes     yes     cellular  aug   <U+22EF> nonexistent  1.4
10000 no      no      cellular  jul   <U+22EF> nonexistent  1.4
      cons.price.idx cons.conf.idx euribor3m nr.employed missing_age
1     93.918         -42.7         4.961     5228.1      0
2     93.918         -42.7         4.963     5228.1      0
3     92.201         -31.4         0.883     5076.2      0
4     93.075         -47.1         1.405     5099.1      0
5     92.893         -46.2         1.266     5099.1      0
6     93.876         -40.0         0.668     5008.7      0
7     93.075         -47.1         1.405     5099.1      0
8     93.918         -42.7         4.968     5228.1      0
9     93.994         -36.4         4.860     5191.0      0
10    92.963         -40.8         1.266     5076.2      0
11    93.994         -36.4         4.857     5191.0      0
12    93.075         -47.1         1.405     5099.1      0
13    93.444         -36.1         4.965     5228.1      0
14    94.601         -49.5         1.029     4963.6      0
15    94.465         -41.8         4.864     5228.1      0
16    94.465         -41.8         4.958     5228.1      0
17    93.918         -42.7         4.962     5228.1      0
18    93.444         -36.1         4.963     5228.1      0
19    92.893         -46.2         1.281     5099.1      1
20    93.200         -42.0         4.120     5195.8      0
21    94.465         -41.8         4.959     5228.1      0
22    93.918         -42.7         4.963     5228.1      0
23    93.200         -42.0         4.021     5195.8      0
24    92.963         -40.8         1.262     5076.2      0
25    93.444         -36.1         4.964     5228.1      0
26    93.200         -42.0         4.120     5195.8      0
27    92.201         -31.4         0.873     5076.2      0
28    94.055         -39.8         0.704     4991.6      0
29    93.994         -36.4         4.857     5191.0      0
30    93.444         -36.1         4.963     5228.1      0
<U+22EE>     <U+22EE>       <U+22EE>      <U+22EE>  <U+22EE>    <U+22EE>
9971  93.444         -36.1         4.970     5228.1      0
9972  93.918         -42.7         4.958     5228.1      0
9973  93.444         -36.1         4.964     5228.1      0
9974  94.465         -41.8         4.960     5228.1      0
9975  93.994         -36.4         4.857     5191.0      0
9976  93.918         -42.7         4.963     5228.1      0
9977  92.893         -46.2         1.266     5099.1      0
9978  93.994         -36.4         4.860     5191.0      0
9979  93.994         -36.4         4.858     5191.0      0
9980  93.918         -42.7         4.960     5228.1      0
9981  93.444         -36.1            NA     5228.1      0
9982  93.444         -36.1         4.966     5228.1      0
9983  93.994         -36.4         4.857     5191.0      0
9984  93.200         -42.0         4.076     5195.8      0
9985  93.994         -36.4         4.859     5191.0      0
9986  92.431         -26.9         0.735     5017.5      0
9987  93.200         -42.0         4.191     5195.8      0
9988  93.444         -36.1         4.964     5228.1      0
9989  93.994         -36.4         4.856     5191.0      0
9990  93.918         -42.7         4.957     5228.1      0
9991  93.444         -36.1         4.963     5228.1      0
9992  93.075         -47.1         1.405     5099.1      0
9993  93.444         -36.1         4.963     5228.1      0
9994  93.918         -42.7         4.962     5228.1      0
9995  93.444         -36.1         4.963     5228.1      0
9996  92.893         -46.2         1.354     5099.1      0
9997  93.075         -47.1         1.405     5099.1      0
9998  93.444         -36.1         4.964     5228.1      0
9999  93.444         -36.1         4.965     5228.1      0
10000 93.918         -42.7         4.962     5228.1      0
      missing_campaign replace999 missing_pdays
1     0                0          0
2     0                0          0
3     0                0          0
4     0                0          0
5     0                0          0
6     0                0          0
7     0                0          0
8     0                0          0
9     0                0          0
10    0                0          0
11    0                0          0
12    0                0          0
13    0                0          0
14    0                0          0
15    0                0          0
16    0                0          0
17    0                0          0
18    0                0          0
19    0                0          0
20    0                0          0
21    0                0          0
22    0                0          0
23    0                0          0
24    0                0          0
25    0                0          0
26    0                0          0
27    0                0          0
28    0                0          0
29    0                0          0
30    0                0          0
<U+22EE>     <U+22EE>         <U+22EE>   <U+22EE>
9971  0                0          0
9972  0                0          0
9973  0                0          0
9974  0                0          0
9975  0                0          0
9976  0                0          0
9977  0                0          0
9978  0                0          0
9979  0                0          0
9980  1                0          0
9981  0                0          0
9982  0                0          0
9983  0                0          0
9984  0                0          0
9985  0                0          0
9986  0                0          0
9987  0                0          0
9988  0                0          0
9989  0                0          0
9990  0                0          0
9991  0                0          0
9992  0                0          0
9993  0                0          0
9994  0                0          0
9995  0                0          0
9996  0                0          0
9997  0                0          0
9998  0                0          0
9999  0                0          0
10000 0                0          0

In [85]:
# For previous variable

# We count the unique values frequency first
as.data.frame(table(test$previous))

  Var1 Freq
1 0    8511
2 1    1115
3 2     188
4 3      51
5 4      23
6 5       4
7 6       2
8 7       1

In [86]:
# We can either replace missing values by the median + tracking missing or creating categorical variables with a new category
# -> We will first try by assigning the median and tracking the missing data, we can improve this later for the modelling

# First step: new variable 
test$missing_previous <- ifelse(is.na(test$previous) == TRUE, 1, 0)

# Second step: replacing NA
test$previous[is.na(test$previous)]<-median(test$previous,na.rm=TRUE)

In [87]:
# Finally, emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed will be replaced by the mean

# First step: new variables 
test$missing_emp.var.rate <- ifelse(is.na(test$emp.var.rate) == TRUE, 1, 0)
test$missing_cons.price.idx <- ifelse(is.na(test$cons.price.idx) == TRUE, 1, 0)
test$missing_cons.conf.idx <- ifelse(is.na(test$cons.conf.idx) == TRUE, 1, 0)
test$missing_euribor3m <- ifelse(is.na(test$euribor3m) == TRUE, 1, 0)
test$missing_nr.employed <- ifelse(is.na(test$nr.employed) == TRUE, 1, 0)

# Second step: replacing NA
test$emp.var.rate[is.na(test$emp.var.rate)]<-mean(test$emp.var.rate,na.rm=TRUE)
test$cons.price.idx[is.na(test$cons.price.idx)]<-mean(test$cons.price.idx,na.rm=TRUE)
test$cons.conf.idx[is.na(test$cons.conf.idx)]<-mean(test$cons.conf.idx,na.rm=TRUE)
test$euribor3m[is.na(test$euribor3m)]<-mean(test$euribor3m,na.rm=TRUE)
test$nr.employed[is.na(test$nr.employed)]<-mean(test$nr.employed,na.rm=TRUE)

In [88]:
# Checking missing values per variables in test
missing_values <- sapply(test, function(x) sum(is.na(x)))
missing_values

             client_id                    age                    job
                     0                      0                      0
               marital              education                default
                     0                      0                      0
               housing                   loan                contact
                     0                      0                      0
                 month            day_of_week               campaign
                     0                      0                      0
                 pdays               previous               poutcome
                     0                      0                      0
          emp.var.rate         cons.price.idx          cons.conf.idx
                     0                      0                      0
             euribor3m            nr.employed            missing_age
                     0                      0                      0
      missing_campaign             replace999          missing_pdays
                     0                      0                      0
      missing_previous   missing_emp.var.rate missing_cons.price.idx
                     0                      0                      0
 missing_cons.conf.idx      missing_euribor3m    missing_nr.employed
                     0                      0                      0

In [89]:
# See final test table 

str(test)

'data.frame':	10000 obs. of  30 variables:
 $ client_id             : int  2986 29710 38938 31313 24173 14426 40159 12301 9640 19742 ...
 $ age                   : num  53 32 70 46 35 24 33 38 37 36 ...
 $ job                   : chr  "technician" "blue-collar" "retired" "services" ...
 $ marital               : chr  "single" "married" "married" "married" ...
 $ education             : chr  "professional.course" "basic.6y" "high.school" "high.school" ...
 $ default               : chr  "no" "no" "no" "no" ...
 $ housing               : chr  "no" "yes" "yes" "no" ...
 $ loan                  : chr  "no" "no" "no" "no" ...
 $ contact               : chr  "cellular" "telephone" "cellular" "cellular" ...
 $ month                 : chr  "jul" "jul" "aug" "apr" ...
 $ day_of_week           : chr  "tue" "wed" "tue" "mon" ...
 $ campaign              : num  1 2 1 1 1 2 3 18 5 1 ...
 $ pdays                 : num  0 0 0 0 0 6 0 0 0 3 ...
 $ previous              : int  0 0 0 1 1 2 0 0 0 1 ...
 $ poutcome              : chr  "nonexistent" "nonexistent" "nonexistent" "failure" ...
 $ emp.var.rate          : num  1.4 1.4 -2.9 -1.8 -1.8 -1.8 -1.8 1.4 1.1 -2.9 ...
 $ cons.price.idx        : num  93.9 93.9 92.2 93.1 92.9 ...
 $ cons.conf.idx         : num  -42.7 -42.7 -31.4 -47.1 -46.2 -40 -47.1 -42.7 -36.4 -40.8 ...
 $ euribor3m             : num  4.961 4.963 0.883 1.405 1.266 ...
 $ nr.employed           : num  5228 5228 5076 5099 5099 ...
 $ missing_age           : num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_campaign      : num  0 0 0 0 0 0 0 0 0 0 ...
 $ replace999            : num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_pdays         : num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_previous      : num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_emp.var.rate  : num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_cons.price.idx: num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_cons.conf.idx : num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_euribor3m     : num  0 0 0 0 0 0 0 0 0 0 ...
 $ missing_nr.employed   : num  0 0 0 0 0 0 0 0 0 0 ...

In [90]:
# From the correlation in train set we decided to remove some variables not correlated to our target. We will also delete them for our test set. It was day, loan and trackers variables

test = subset(test, select=-c(client_id, loan, day_of_week, missing_age, missing_campaign, replace999, missing_pdays, missing_previous, missing_emp.var.rate, missing_cons.price.idx, missing_cons.conf.idx, missing_euribor3m , missing_nr.employed))


### Last steps before Modeling Test

In [91]:
str(test)

'data.frame':	10000 obs. of  17 variables:
 $ age           : num  53 32 70 46 35 24 33 38 37 36 ...
 $ job           : chr  "technician" "blue-collar" "retired" "services" ...
 $ marital       : chr  "single" "married" "married" "married" ...
 $ education     : chr  "professional.course" "basic.6y" "high.school" "high.school" ...
 $ default       : chr  "no" "no" "no" "no" ...
 $ housing       : chr  "no" "yes" "yes" "no" ...
 $ contact       : chr  "cellular" "telephone" "cellular" "cellular" ...
 $ month         : chr  "jul" "jul" "aug" "apr" ...
 $ campaign      : num  1 2 1 1 1 2 3 18 5 1 ...
 $ pdays         : num  0 0 0 0 0 6 0 0 0 3 ...
 $ previous      : int  0 0 0 1 1 2 0 0 0 1 ...
 $ poutcome      : chr  "nonexistent" "nonexistent" "nonexistent" "failure" ...
 $ emp.var.rate  : num  1.4 1.4 -2.9 -1.8 -1.8 -1.8 -1.8 1.4 1.1 -2.9 ...
 $ cons.price.idx: num  93.9 93.9 92.2 93.1 92.9 ...
 $ cons.conf.idx : num  -42.7 -42.7 -31.4 -47.1 -46.2 -40 -47.1 -42.7 -36.4 -40.8 ...
 $ euribor3m     : num  4.961 4.963 0.883 1.405 1.266 ...
 $ nr.employed   : num  5228 5228 5076 5099 5099 ...


#### 1. Replacing categorical string by numerical category


These variables are job, marital, education, default, housing, contact, month and poutcome

In [92]:
# Jobs

# Replacing job category in numerical category

test["job"][test["job"] == "management"] <- 11
test["job"][test["job"] == "entrepreneur"] <- 10
test["job"][test["job"] == "admin."] <- 9
test["job"][test["job"] == "services"] <- 8
test["job"][test["job"] == "self-employed"] <- 7
test["job"][test["job"] == "technician"] <- 6
test["job"][test["job"] == "housemaid"] <- 5
test["job"][test["job"] == "blue-collar"] <- 4
test["job"][test["job"] == "retired"] <- 3
test["job"][test["job"] == "student"] <- 2
test["job"][test["job"] == "unemployed"] <- 1
test["job"][test["job"] == "unknown"] <- 0

# Checking for unique value 
unique(test$job)

 [1] "6"  "4"  "3"  "8"  "2"  "9"  "11" "7"  "10" "1"  "5"  "0"

In [93]:
# Marital

# Replacing with numerical category
test["marital"][test["marital"] == "married"] <- 3
test["marital"][test["marital"] == "divorced"] <- 2
test["marital"][test["marital"] == "single"] <- 1
test["marital"][test["marital"] == "unknown"] <- 0

# Checking for unique value 
unique(test$marital)

[1] "1" "3" "2" "0"

In [94]:
# Education

# Replacing with numerical category
test["education"][test["education"] == "professional.course"] <- 7
test["education"][test["education"] == "university.degree"] <- 6
test["education"][test["education"] == "high.school"] <- 5
test["education"][test["education"] == "basic.9y"] <- 4
test["education"][test["education"] == "basic.6y"] <- 3
test["education"][test["education"] == "basic.4y"] <- 2
test["education"][test["education"] == "illiterate"] <- 1
test["education"][test["education"] == "unknown"] <- 0

# Checking for unique value 
unique(test$education)

[1] "7" "3" "5" "0" "4" "6" "2" "1"

In [95]:
# Default

# Replacing with numerical category
test["default"][test["default"] == "yes"] <- 2
test["default"][test["default"] == "no"] <- 1
test["default"][test["default"] == "unknown"] <- 0

# Checking for unique value 
unique(test$default)

[1] "1" "0"

In [96]:
# Housing

# Replacing with numerical category
test["housing"][test["housing"] == "yes"] <- 2
test["housing"][test["housing"] == "no"] <- 1
test["housing"][test["housing"] == "unknown"] <- 0

# Checking for unique value 
unique(test$housing)

[1] "1" "2" "0"

In [97]:
# Contact

# Replacing with numerical category
test["contact"][test["contact"] == "cellular"] <- 2
test["contact"][test["contact"] == "telephone"] <- 1
test["contact"][test["contact"] == "unknown"] <- 0

# Checking for unique value 
unique(test$contact)

[1] "2" "1" "0"

In [98]:
# Month

# Replacing with numerical category
test["month"][test["month"] == "dec"] <- 10
test["month"][test["month"] == "nov"] <- 9
test["month"][test["month"] == "oct"] <- 8
test["month"][test["month"] == "sep"] <- 7
test["month"][test["month"] == "aug"] <- 6
test["month"][test["month"] == "jul"] <- 5
test["month"][test["month"] == "jun"] <- 4
test["month"][test["month"] == "may"] <- 3
test["month"][test["month"] == "apr"] <- 2
test["month"][test["month"] == "mar"] <- 1
test["month"][test["month"] == "unknown"] <- 0

# Checking for unique value 
unique(test$month)

 [1] "5"  "6"  "2"  "3"  "4"  "8"  "9"  "0"  "1"  "10" "7"

In [99]:
# Poutcome

# Replacing with numerical category
test["poutcome"][test["poutcome"] == "success"] <- 2
test["poutcome"][test["poutcome"] == "failure"] <- 1
test["poutcome"][test["poutcome"] == "nonexistent"] <- 0

# Checking for unique value 
unique(test$poutcome)

[1] "0" "1" "2"


##### 2. Factorization

In [100]:
# Creating factors for our categorical data 
test$job = as.factor(test$job)
test$marital = as.factor(test$marital)
test$education = as.factor(test$education)
test$contact = as.factor(test$contact)
test$month = as.factor(test$month)
test$poutcome = as.factor(test$poutcome)


# Creating factors for our logical data 
test$default = as.factor(test$default)
test$housing = as.factor(test$housing)

In [101]:
str(test)

'data.frame':	10000 obs. of  17 variables:
 $ age           : num  53 32 70 46 35 24 33 38 37 36 ...
 $ job           : Factor w/ 12 levels "0","1","10","11",..: 9 7 6 11 9 5 12 12 7 9 ...
 $ marital       : Factor w/ 4 levels "0","1","2","3": 2 4 4 4 2 2 3 4 2 4 ...
 $ education     : Factor w/ 8 levels "0","1","2","3",..: 8 4 6 6 1 6 6 6 5 7 ...
 $ default       : Factor w/ 2 levels "0","1": 2 2 2 2 2 2 2 2 1 2 ...
 $ housing       : Factor w/ 3 levels "0","1","2": 2 3 3 2 2 3 2 3 2 2 ...
 $ contact       : Factor w/ 3 levels "0","1","2": 3 2 3 3 3 3 2 2 2 3 ...
 $ month         : Factor w/ 11 levels "0","1","10","2",..: 7 7 8 4 5 5 4 7 5 6 ...
 $ campaign      : num  1 2 1 1 1 2 3 18 5 1 ...
 $ pdays         : num  0 0 0 0 0 6 0 0 0 3 ...
 $ previous      : int  0 0 0 1 1 2 0 0 0 1 ...
 $ poutcome      : Factor w/ 3 levels "0","1","2": 1 1 1 2 2 3 1 1 1 3 ...
 $ emp.var.rate  : num  1.4 1.4 -2.9 -1.8 -1.8 -1.8 -1.8 1.4 1.1 -2.9 ...
 $ cons.price.idx: num  93.9 93.9 92.2 93.1 92.9 ...
 $ cons.conf.idx : num  -42.7 -42.7 -31.4 -47.1 -46.2 -40 -47.1 -42.7 -36.4 -40.8 ...
 $ euribor3m     : num  4.961 4.963 0.883 1.405 1.266 ...
 $ nr.employed   : num  5228 5228 5076 5099 5099 ...

### Creating the 'subscribe' target variable and assigning prediction to it

We will use our best algorithm in terms of AUC and accuracy from the train table models